table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 200px;

  }
  
  th, td {
    padding: 0px;
  }
.detail-container {
    /* position: absolute; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.detail-container .top-panel{
    /* position: absolute; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
    background: #f4f4f4;
    /*set display for items*/
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    padding: 20px;
}

h2 {
    color: #bd0100;

}

.detail-container .bottom-panel{
 
    margin-left: 1200px;
    margin-top:70px;
    background: green;
    text-align: center;
    color: white;
}

 .leaver-info {
    padding: 20px;
    display: inline-block;
     flex-direction: column; 
} 

 .row-info {
    display: flex;  
       flex-direction: row;   
}   


.row-info .key {
    font-weight: bold;
    
}

.row-info .value {
    font-family: Arial, sans-serif;
    margin-left: 200px;

}
 .value2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: -290px;
    margin-top:70px;
}
.row-info .key2 {

    margin-left: 200px;
    margin-top:70px;
    
}
.row-info .key3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: -300px;
    margin-top:150px;
    
}
.row-info .value3 {
    font-family: Arial, sans-serif;

    margin-left: 180px;
    margin-top:150px;
}
.row-info .key4 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: -280px;
    margin-top:230px;
    
}

.row-info .value4 {
    font-family: Arial, sans-serif;

    margin-left: 210px;
    margin-top:230px;
}
/**/
.row-info .key5 {
    font-weight: bold;
    margin-left: 200px;


    
}

.row-info .value5 {
    font-family: Arial, sans-serif;
    margin-left: 100px;

}
.row-info .value6 {
    font-family: Arial, sans-serif;

    margin-left: 130px;
    margin-top:70px;
}
.row-info .key6 {

    margin-left: -300px;
    margin-top:70px;
    font-weight: bold;
    
}
.row-info .key7 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: -290px;
    margin-top:150px;
    
}
.row-info .value7 {
    font-family: Arial, sans-serif;

    margin-left: 100px;
    margin-top:150px;
}
.row-info .key8 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: -390px;
    margin-top:200px;
    
}
.row-info .value8 {
    font-family: Arial, sans-serif;

    margin-left: 150px;
    margin-top:200px;
}
.row-info .key9 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: -330px;
    margin-top:250px;
    
}

.row-info .value9 {
    font-family: Arial, sans-serif;

    margin-left: 170px;
    margin-top:250px;
}
.row-info .key0 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-left: -330px;
    margin-top:300px;
    
}

.row-info .value0 {
    font-family: Arial, sans-serif;

    margin-left: 110px;
    margin-top:300px;
}
/**/
.iex{
    margin-left: 700px;
    margin-top:10px;
}







